body {
  background-color: hsl(0, 0%, 8%);
  font-family: Inter;
  font-size: 14px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 12%);
  border-radius: 12px;
  padding: 42px;
}

.profile-card img {
  width: 80px;
  border-radius: 100px;
  align-self: center;
  margin-bottom: 32px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.location {
  font-weight: 700;
  color: hsl(75, 94%, 57%);
  margin-top: 12px;
  margin-bottom: 20px;
}

.socials-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  gap: 16px;
}

.socials {
  text-align: center;
  font-weight: 600;
  background-color: hsl(0, 0%, 20%);
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.socials:hover {
  color: hsl(0, 0%, 8%);
  background-color: hsl(75, 94%, 57%);
}
